<p-table [value]="alunos">
  <ng-template pTemplate="header">
    <tr>
      <th>id</th>
      <th>Nome</th>
      <th>CPF</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-aluno>
    <tr>
      <td>{{aluno.id}}</td>
      <td>{{aluno.nome}}</td>
      <td>{{aluno.cpf}}</td>
    </tr>
  </ng-template>
</p-table>