<p-messages [(value)]="msg"></p-messages>
<form #f="ngForm" (ngSubmit)="inserir(f)" autocomplete="off">
<div class="ui-g ui-fluid">
 
  <div class="ui-g-12 ui-md-6">
    <span class="ui-float-label">
      <input id="nome" type="text" size="30" pInputText [(ngModel)]="aluno.nome" name="nome">
      <label for="nome">Nome</label>
    </span>
  </div>
  <div class="ui-g-12 ui-md-6"></div>
  <div class="ui-g-12 ui-md-2">
    <span class="ui-float-label">
      <input id="cpf" type="text" size="30" pInputText [(ngModel)]="aluno.cpf" name="cpf">
      <label for="cpf">CPF</label>
    </span>
  </div>
  
  <div class="ui-g-12 ui-md-10"></div>
  <div class="ui-g-12 ui-md-2">
    <button pButton type="submit" label="Salvar" ></button>
  </div>

</div>
  </form>